<p id="notice"><%= notice %></p>
<h2>Make a new friend <%= link_to 'New Friend', new_friend_path, class: 'new-friend' %></h2>

<h1>Listing Friends</h1>
<section id="friends">
  <%= render @friends%>
</section>