<h2> Articles Functionalities</h2>
<div>
  <ul>
      <li>
        <%= link_to 'Article List', articles_path %>
      </li>
      <li>
        <%= link_to 'New Article', new_article_path %>
      </li>
  
  </ul>
</div>
<br>