<h1>Your mailbox is almost full.</h1>
<p>Find me in app/views/demo/mailbox.html.erb</p>
<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" 
  aria-valuenow="84" aria-valuemin="0" aria-valuemax="100" style="width: 84.6%;">
  846MB/1024MB
  </div>
</div>