<p id="notice"><%= notice %></p>

<p>
  <strong>Customer name:</strong>
  <%= @shipment.customer_name %>
</p>

<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
