<!DOCTYPE html>
<html>
<head>
  <title>Tickets2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="main_header">
		<div class="wrapper_wide">
			<p class="logo"><a href="/">Midi's Rails lab</a></p>
			<nav class="main_nav">
				<a href="#">Log In</a>
				<a href="#">Sign Up</a>
				<a href="http://guides.rubyonrails.org/">Ruby on Rails Guide</a>
				<a href="http://http://api.rubyonrails.org/">Ruby on Rails API</a>
			</nav>
		</div>
	</header>

	<div class="wrapper_skinny">
		<%= yield %>
	</div>


</body>
</html>
